body {
  margin: 0;
  overflow: hidden;
  background-color: #7FDBFF;
}

.wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}

#happy_birthday {
  margin:0;
  z-index: 0;
  font-size: 18vw;
  font-family: 'dancing script', monospace;
  text-align: center;
  color: firebrick;
}
