body {
  margin: 0;
  overflow: hidden;
  background-color: #7FDBFF;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#happy_birthday {
  z-index: 0;
  font-size: 20vw;
  font-family: 'dancing script', monospace;
  text-align: center;
  color: #FF4136;
}
